/*multiple styles of bona nova sc font*/
/* bona-nova-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bona Nova SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bona-nova-sc-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bona-nova-sc-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bona Nova SC';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/bona-nova-sc-v1-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bona-nova-sc-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bona Nova SC';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/bona-nova-sc-v1-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*multiple styles of bona nova font*/
/* bona-nova-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bona Nova';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bona-nova-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bona-nova-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bona Nova';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/bona-nova-v12-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bona-nova-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bona Nova';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/bona-nova-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*type scale*/
html {font-size: 16px;}

body {
  font-family: 'Bona Nova', serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bona Nova SC', serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Bona Nova SC', serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.15em;
}

h2,
.text-size-h2 { font-size: 2.44em; font-weight: 400; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

html {
	background-color: ##f5f2df;
}

.container {
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: row;
    gap: 10px;
}

nav a {
	display: inline-block;
	font-size: 1.35em;
	color: #F4F1DE;
    background-color: #6B8761;
	text-decoration: none;
	text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Bona Nova SC';
	box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.3);
	text-shadow: 2px 4px 4px rgba(0,0,0,0.3),
                 0px -5px 10px rgba(255,255,255,0.25);
}

nav a {
	transition: all 1s ease-in-out;
	background-color: 1s ease-in .5s;
}

nav a:hover {
	background-color: #C2847A;
	transform: scale(1.15);
}

h1 {
	color: #6B8761;
	text-align: center;
}

.grid {
  margin: 20px 20px;
/*  width: 1200px;
  height: 2800px; */
  display: grid;
 /* grid-template: repeat(4, 1fr) / repeat(3, 1fr); */
  gap: 10px 10px;
}

.box {
 /* background-color: #ffdbec;
  border: 2px #a16480 solid; */
  padding: 5px 5px;
  text-align: center;
}
              
